* {
box-sizing: border-box;
}

body {
font-family: Arial;
padding: 10px;
background: #e6e6e6;
}

.header {
padding: 30px;
text-align: center;
background: white;
}

.header h1 {
font-size: 50px;
font-family: georgia;
color: #000000;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

p {
color: black;
line-height: 150%;
font-family: helvetica;
font-size: 18px;
}

.leftcolumn {
float: left;
width: 50%;
}

.rightcolumn {
float: right;
width: 50%;
background-color: #e6e6e6;
padding-left: 20px;
position: sticky;
}

.card {
background-color: white;
padding: 20px;
margin-top: 20px;
}

.row:after {
content: "";
display: table;
clear: both;
}

.footer {
padding: 20px;
text-align: center;
background: white;
margin-top: 20px;
}

@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {
  width: 100%;
  padding: 0;
}
}

@media screen and (max-width: 400px) {
.topnav a {
  float: none;
  width: 100%;
}
}
